{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
<h1>Client</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ customers.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ customers.lastname }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ customers.firstname }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ customers.birthdate | date('d/m/Y') }} {{ customers.birthdate | date('H:i:s') }} </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('customer') }}">Liste</a>

<a class="btn btn-secondary" href="{{ path('customer_edit', {'id': customers.id}) }}">Modifier</a>

{{ include('customer/delete.html.twig') }}
{% endblock %}